@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-space-grotesk), ui-sans-serif, system-ui;
  --color-background: #0a0a0a;
  --color-foreground: #ededed;
  
  --color-neon-green: #39ff14;
  --color-neon-red: #ff003c;
  --color-glass-bg: rgba(255, 255, 255, 0.03);
  --color-glass-border: rgba(255, 255, 255, 0.08);
  --color-charcoal-light: #18181b;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  background-image: 
    radial-gradient(circle at 15% 50%, rgba(57, 255, 20, 0.03), transparent 25%),
    radial-gradient(circle at 85% 30%, rgba(20, 100, 255, 0.03), transparent 25%);
  min-height: 100vh;
}
